html {
    background-color: whitesmoke;
    height: 100%;
}
body {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    height: 100%;
    box-shadow: 0px 0px 20px 1px grey;
    
}

/* CSS for the top 'peterwroot.co.uk' bar */
#pageTopBar {
    height: 40px;
    line-height: 30px;
    background-color: #212121;
    color: whitesmoke;
    padding: 5px;
}

#pageTopBar a {
    text-decoration: none;
    color: whitesmoke;
}

#pageTopBar h4 {
    margin: 0px;
}

.topBarNavItem {
    display: inline-block;
    padding: 5px 10px;
}

#topBarHomeLink {
    float: left;
    padding: 5px;
}

#pageTopBarNavigation {
    float: right;
}

/* CSS for main page body */

#pageBody{
    padding: 10px;
}

/* CSS for page footer*/

#pageFooter{
    position: absolute;
    bottom: 0;
    width: 800px;
    padding: 5px;
    height: 30px;
    margin: 0px;
    background-color: #212121;
    color: whitesmoke;
}

#pageFooter p{
    padding: 0px;
    margin: 0px;
    font-size: 8pt;
}

#pageFooter a{
    color: whitesmoke;
}

hr{
    max-width: 700px;
}

#footerRight{
    float: right;
}
#footerLeft{
    float: left;
}