
/* Fucking around with fonts! */
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    font-family: 'VT323', monospace;
    font-size: 16pt;
    height: 100%;
    text-transform: lowercase;
    
}

body {
    background-color: #212121;
    color: #00FF66;
    max-width: 800px;
    margin: 0 auto;
}

body a{
    color: #00FF66;
}

#title {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: right;
}

#title a {
    text-decoration: none;
}


/*  A little extra on the bottom 
    of list items to help keep 
    them separate   */
li{
    padding-bottom: 10px;
}

.post-title {
    padding-bottom: 25px;
    border-bottom: 2px dotted #00FF66;
}


/* CSS for the post list on the homepage*/
.post {
    height: 15px;
    margin-bottom: 20px;
    border-bottom: 2px dotted #00FF66;
}
.post a {
    text-decoration: none;
    padding-left: 10px;
    float: right;
    background-color: #212121;
    color: #00FF66;
}
.post p {
    float: left;
    padding-right: 10px;
    margin: 0px;
    background-color: #212121;

}

hr {
    border: none;
    height: 1px;
}

/* 'e', for 'emphasis' */
e{
    color: #FFCC00;
    text-transform: uppercase;
}

e a{
        color: #FFCC00;

}

#spacer {
    height: 100px;
}

.centered li {
    list-style-type: none;
}

h3 {
    padding-bottom: 20px;
}

hr{
    margin-top: 30px;
    margin-bottom: 30px;
}