@media (prefers-color-scheme: dark) {
    body {
        background-color: #212121;
        color: whitesmoke;
    }

    a {
        color: whitesmoke;
    }

    .post-heading {
        border-bottom: 1px dotted #212121;
    }

    .post p {
        background-color: #212121;
    }

    .post a {
        background-color: #212121;
        color: whitesmoke;
    }

    hr {
        background-color: whitesmoke;
    }

    .post {
        border-bottom: 1px dotted whitesmoke;
    }

    .codeblock {
        background-color: whitesmoke;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        color: black;

    }

}

@media (prefers-color-scheme: light) {
    body {
        background-color: whitesmoke;
        color: #212121;
    }

    a {
        color: #212121;
    }

    .post-heading {
        border-bottom: 1px dotted lightgray;
    }

    .post p {
        background-color: whitesmoke;
    }

    .post a {
        background-color: whitesmoke;
    }

    hr {
        background-color: #212121;
    }

    .post {
        border-bottom: 1px dotted #212121;
    }

    .codeblock {
        background-color: #212121;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        color: whitesmoke;

    }


}

html {
    font-family: 'Roboto Slab', serif;
    height: 100%;
}

body {

    max-width: 600px;
    margin: 0 auto;
}

#title {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#title a {

    text-decoration: none;
}



.centered {
    text-align: center;
}

hr {
    border: none;

    height: 1px;
}


.post p {
    float: right;
    padding-left: 10px;
    margin: 0px;

}

.post a {
    text-decoration: none;
    padding-right: 10px;
    float: left;
}

.post {
    height: 15px;



    margin-bottom: 20px;
}



#spacer {
    height: 100px;
}

.centered li {
    list-style-type: none;
}

h3 {
    padding-bottom: 20px;
}

#iframe-container {
    position: relative;
    overflow: visible;
    padding-top: 56.25%;
    padding-bottom: 50px;
}

#iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;

}
